<%= form_for @script, :html => {:id => "script_form"} do |f| %>
  <%= render "shared/error_messages", :target => @script %>
  
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div id="canvas_container"></div>

  <%= button_to_function "Preview", "return false", :id => "script_preview" %>

  <p>
    Param parsing isn't perfect.  General format is:
    <pre>
      // description of param (required)
      param_name = "comma"; // comma, delimited, list, of, possible, values (not required)
    </pre>
  </p>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_area :code %>
  </div>
  
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="action">
    <%= button_to_function "Save", "return false", :id => "script_save" %>
    <%= link_to "Cancel", :back %>
  </div>
<% end %>
