<% title "Scripts" %>

<p class="warning">
  WARNING:  This is a just test, if this had been an actual website then everything would work and data you enter would not be randomly deleted at any time.  Thank you for testing CloudSCAD.
</p>

<% for script in @scripts %>
  <p class="script">
      <h2><%= link_to script.name, script_path(script) %></h2>
      by <%= link_to script.user.username, user_path(script.user) %> <%= time_ago_in_words(script.created_at) %> ago
      <br/>
      <%= simple_format(script.description) %>
  </p>
<% end %>

<%= will_paginate @scripts %>