<% title @script.name %>

<div id="canvas_container"></div>

<!-- <canvas id="scene" class="object"></canvas>
<div id="controls">
<select id="meshlist" size=10 style="display:none"> 
  <option value="box">Crate</option> 
  <option value="sphere">Earth</option> 
  <option value="earth_low">Earth (low poly)</option> 
  <option value="teapot">Teapot</option> 
  <option value="barrel">Barrel</option> 
  <option value="c_king">Chess piece - King</option> 
  <option value="tv">TV</option> 
</select> 
<input type="checkbox" class="rendercontrol" id="chkrenderlights" /> Render lights<br/> 
<input type="checkbox" class="rendercontrol" id="chklighting" checked /> Lighting<br/> 
<input type="checkbox" class="rendercontrol" id="chkbackface" checked /> Backface culling<br/> 
<input type="checkbox" class="rendercontrol" id="chkzsort" checked /> Z-sorting<br/> 
<input type="checkbox" class="rendercontrol" id="chkfill" checked /> Filled faces<br/> 
<input type="checkbox" class="rendercontrol" id="chkwire" /> Wireframe<br/> 
<input type="checkbox" class="rendercontrol" id="chktexture" checked /> Texture<br/> 
<input type="checkbox" class="rendercontrol" id="chktextureshading" checked /> Texture shading<br/> 
</div> 

<div id="sceneinfo">Nothing to render</div> 

<input type="button" value="Get It!" onclick="get_it();"/>

<script>
  function get_it() {
    var url = "<%= url_for %>.json3d?" + $('custom_form').serialize();
    HTTPRequest(url, onSceneLoaded);
  }
</script> -->

<div class="side">
  <p> 
    <%= link_to "Download", script_path(@script, :format => "scad") %> | <%= link_to "Clone", script_path(@script) %>
    <% if @script.user == current_user -%>
      | <%= link_to "Edit", edit_script_path(@script) %> | <%= link_to "Delete", script_path(@script), :method => :delete, :confirm => "Are you sure you want to delete this script?" %>
    <% end -%>
  </p>

  <%= format_code(@script.code) %>
</div>

<p>
  by <%= link_to @script.user.username, user_path(@script.user) %> <%= time_ago_in_words(@script.created_at) %> ago
  <%= simple_format(@script.description) %>
</p>

<% form_for @script, :url => script_path(@script, :format => :stl), :html => {:method => :get, :id => "custom_form"} do |f| %>
  <% if @script.params.size == 0 -%>
    <p class="warning">No Parameters Found.</p>
  <% else -%>
    <% @script.params.each do |param_name, param_info| -%>
      <p>
        <%= label_tag param_name.titleize %> <span class="label_description"><%= param_info["description"] %></span><br/>
        <% if param_info["options"].size == 0 -%>
          <%= text_field_tag param_name, params[param_name] || param_info["value"] %>
        <% else -%>
          <%= select_tag param_name, options_for_select(param_info["options"], params[param_name] || param_info["value"]) %>
        <% end -%>
      </p>
    <% end -%>
  <% end -%>
  <%= f.submit "Download STL" %>
<% end -%>

<%= button_to "Preview", script_path(@script), :method => :get, :id => "custom_preview" %>

<%#= debug(@script.params) %>

<br class="clear"/>

<pre>
<%#= debug(@script.parse_stl(@script.to_stl)) %>
<%#= debug(@script.to_json3d) %>
<%#= debug(@script.to_stl) %>
<%#= @script.to_obj %>
</pre>
