<%= form_tag @project.url_path("scad", params[:treeish], params[:path]), :method => :post, :id => "custom_scad_form" do %>
  <%= hidden_field_tag "format", "stl" %>
  <% if scad.params.size == 0 -%>
    <p class="warning">No Parameters Found.</p>
  <% else -%>
    <% scad.params.each do |param_name, param_info| -%>
      <p>
        <%= label_tag param_name.titleize %> <span class="label_description"><%= param_info["description"] %></span><br/>
        <% if param_info["options"].size == 0 -%>
          <%= text_field_tag param_name, params[param_name] || param_info["value"] %>
        <% else -%>
          <%= select_tag param_name, options_for_select(param_info["options"], params[param_name] || param_info["value"]) %>
        <% end -%>
      </p>
    <% end -%>
  <% end -%>
  <%= submit_tag "Download STL" %>
<% end -%>

<%= form_tag @project.url_path("scad", params[:treeish], params[:path]), :method => :post, :id => "custom_scad_render_form", :remote => true do %>
  <%= hidden_field_tag "format", "js" %>
  <%= submit_tag "Render" %>
<% end -%>
