<%= form_for url_for(:format => :stl), :html => {:method => :get, :id => "custom_form"} do |f| %>
  <% if scad.params.size == 0 -%>
    <p class="warning">No Parameters Found.</p>
  <% else -%>
    <% scad.params.each do |param_name, param_info| -%>
      <p>
        <%= label_tag param_name.titleize %> <span class="label_description"><%= param_info["description"] %></span><br/>
        <% if param_info["options"].size == 0 -%>
          <%= text_field_tag param_name, params[param_name] || param_info["value"] %>
        <% else -%>
          <%= select_tag param_name, options_for_select(param_info["options"], params[param_name] || param_info["value"]) %>
        <% end -%>
      </p>
    <% end -%>
  <% end -%>
  <%= f.submit "Download Custom STL" %>
<% end -%>

<%= button_to "Preview Custom", url_for(:format => :js), :method => :get, :id => "custom_preview" %>
