<% thingiview_init %>

<p>
  <%= button_to_function "Top", "thingiview.setCameraView('top')" %>
  <%= button_to_function "Side", "thingiview.setCameraView('side')" %>
  <%= button_to_function "Bottom", "thingiview.setCameraView('bottom')" %>
  <%= button_to_function "Diagonal", "thingiview.setCameraView('diagonal')" %>

  <%= button_to_function "Zoom +", "thingiview.setCameraZoom(5)" %>
  <%= button_to_function "Zoom -", "thingiview.setCameraZoom(-5)" %>

  <%= button_to_function "Toggle Rotation", "thingiview.setRotation(!thingiview.getRotation());" %>
</p>

<div id="viewer"></div>

<p>
  <%= button_to_function "Wireframe", "thingiview.setObjectMaterial('wireframe')" %>
  <%= button_to_function "Solid", "thingiview.setObjectMaterial('solid')" %>
</p>

<div id="openscad_output"></div>

<div id="render_spinner"><%= image_tag "spinner.gif" %> Processing...</div>
