<%= render :partial => "/projects/header" %>

<% if @extension == ".scad" -%>
  <%= render :partial => "render" %>

  <%= render :partial => "custom", :locals => {:scad => Scad.new(:project => @project, :code => @blob.data, :path => params[:path])} %>
<% end -%>

<p>
  <%= link_to "Download", @project.url_path("download", params[:treeish], params[:path]) %>
  <% if @project.user == current_user and params[:treeish] == "master" -%>
    | 
    <% if @blob.mime_type == "text/plain" -%>
      <%= link_to "Edit", @project.url_path("blob-edit", params[:treeish], params[:path]) %> | 
    <% end -%>
    <!-- <%= link_to "Delete", @project.url_path("blob-destroy", params[:treeish], params[:path]), :method => :delete, :confirm => "Are you sure you want to delete this file?" %> -->
  <% end -%>  
</p>

<p>
  <%= blob_display(@blob) %>
</p>

<%= render :partial => "/projects/footer" %>
