<% if @extension == ".scad" -%>
  <%= render :partial => "custom_form", :locals => {:scad => Scad.new(@project, @blob.data, params[:path])} %>
<% end -%>

<p>
  <%= link_to "Download", @project.url_path("raw", params[:treeish], File.join(params[:path])) %>
  <% if @project.user == current_user -%>
    | <%= link_to "Edit", edit_project_path(@project) %> | <%= link_to "Delete", project_path(@project), :method => :destroy, :confirm => "Are you sure you want to delete the whole project?" %>
  <% end -%>  
</p>

<p>
  <%= blob_display(@blob) %>
</p>
