<p style="color:#c0c0c0;font-size:x-small">
  DEBUG - 
  username: <%= params[:username] %> |
  projectname: <%= params[:projectname] %> |
  content_type: <%= params[:content_type] %> |
  treeish: <%= params[:treeish] %> |
  path: <%= params[:path].join("/") %>
</p>
