<%= form_for @project, :html => {:id => "project_form"} do |f| %>
  <%= render "shared/error_messages", :target => @project %>

  <div class="field">
    <%= f.label :name %><br />
    <% if @project.new_record? -%>
      <%= f.text_field :name %>
    <% else -%>
      <%= @project.name.titleize %>
    <% end -%>
  </div>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  
  <div class="action">
    <%= f.submit %>
    <%= link_to "Cancel", :back %>
  </div>
<% end %>
