<table class="tree">
  <tr>
    <th>Name</th>
    <th>Updated</th>
    <th>Change Log</th>
  </tr>
  <% @project.repo.tree(params[:treeish], params[:path]).contents.each do |content| -%>
    <% commit = @project.repo.log(params[:treeish], File.join(params[:path] + [content.name]))[0] -%>
    <tr>
      <td>
        <%= repo_icon(content) %>
        <%= link_to(content.name, @project.url_path(content_type_name(content), params[:treeish], (params[:path] + [content.name]))) %>
      </td>
      <td>
        <%= time_ago_in_words(commit.committed_date) %> ago
      </td>
      <td>
        <%= commit.message %> [<%= commit.committer %>]
      </td>
    </tr>
  <% end -%>
</table>
