<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <!--[if IE]><![endif]-->

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>CloudSCAD - <%= h(yield(:title) || "Untitled") %></title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="stylesheet" href="/stylesheets/style.css?v=1">
  <link rel="stylesheet" media="handheld" href="/stylesheets/handheld.css?v=1">
  <script src="/javascripts/modernizr-1.5.min.js"></script>

  <script type="text/javascript" charset="utf-8">
    var is_ssl = ("https:" == document.location.protocol);
    var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
    document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript" charset="utf-8">
    var feedback_widget_options = {};
    feedback_widget_options.display = "overlay";  
    feedback_widget_options.company = "cloudscad";
    feedback_widget_options.placement = "left";
    feedback_widget_options.color = "#222";
    feedback_widget_options.style = "idea";
    var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
  </script>

  <%= csrf_meta_tag %>
  <%= yield(:head) %>
</head>
<!--[if lt IE 7 ]> <body class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <body class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <body> <!--<![endif]-->

  <div id="container">
    <header>
      <div id="user_nav">
        <% if current_user %>          
          <%= link_to "New Project", new_project_path %> |
          <%= link_to "New Script", new_script_path %> |
          <%= link_to "Edit Profile", edit_user_path(:current) %> |
          <%= link_to "Logout", logout_path %>

          <br/>

          <%= link_to avatar_image_tag(current_user.email, {:size => 40, :default => "mm"}, {:class => "avatar"}), user_path(current_user) %>
        <% else %>
          <%= link_to "Register", new_user_path %> |
          <%= link_to "Login", login_path %>
        <% end %>
      </div>

      <h1><%= link_to "CloudSCAD", root_path %></h1>
      <br/>
    </header>
    
    <div id="main">
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
      <%- if show_title? -%>
        <h1><%=h yield(:title) %></h1>
      <%- end -%>
      
      <p>
        <%= link_to "Projects", projects_path %> | <%= link_to "Scripts", scripts_path %>
      </p>
      
      <%= yield %>
    </div>
    
    <footer style="height:50px">
      <div style="float:right;text-align: right;">
        Hosted By<br/>
        <%= link_to(image_tag("cloudfab_logo_small.gif"), "http://cloudfab.com") %>
      </div>
      
      <%= link_to "About", "/about" %> | <%= link_to "Contact", "mailto:tbuser@gmail.com" %> | <%= link_to "Blog", "http://blog.cloudscad.com" %> | <%= link_to "STL Viewer", "/stl_viewer" %>      
    </footer>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script>!window.jQuery && document.write('<script src="/javascripts/jquery-1.4.2.min.js"><\/script>')</script>

  <link id="bespin_base" href="/javascripts/bespin"/>
  <%= javascript_include_tag 'bespin/BespinEmbedded' %>
  
  <!-- 
  <%= javascript_include_tag 'canvas3d/scene' %>
  <%= javascript_include_tag 'canvas3d/vec3' %>
  <%= javascript_include_tag 'canvas3d/matrix3' %>
  <%= javascript_include_tag 'canvas3d/camera' %>
  <%= javascript_include_tag 'canvas3d/mesh' %>
  <%= javascript_include_tag 'canvas3d/light' %>
  <%= javascript_include_tag 'canvas3d/setup' %>
  -->

  <%= javascript_include_tag 'three' %>
  <script type="text/javascript" src="http://github.com/mrdoob/stats.js/raw/master/build/Stats.js"></script>  
  <%= javascript_include_tag 'plugins' %>
  <%= javascript_include_tag 'script' %>

  <%= javascript_include_tag 'plane' %>
  <%= javascript_include_tag 'stl_geometry' %>
  <%= javascript_include_tag 'stl_viewer' %>
  
  <script>
  // var $j = jQuery.noConflict();
  
  // Use jQuery via $j(...)
  //$j(document).ready(function(){
  //  $j("div").hide();
  //});
  </script>

  <!--[if lt IE 7 ]>
    <script src="js/dd_belatedpng.js?v=1"></script>
  <![endif]-->

  <%= javascript_include_tag 'profiling/yahoo-profiling.min' %>
  <%= javascript_include_tag 'profiling/config' %>

  <% if Rails.env == "production" -%>
    <script>
     var _gaq = [['_setAccount', 'UA-274808-10'], ['_trackPageview']]; 
     (function(d, t) {
      var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
      g.async = true; g.src = '//www.google-analytics.com/ga.js'; s.parentNode.insertBefore(g, s);
     })(document, 'script');
    </script>
  <% end -%>
  
</body>
</html>